:root {
    --width: 720px;
    --font-main: monospace, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --font-secondary: monospace, sans-serif;
    --font-scale: 1.2em;
    --background-color: #1e1e2e;
    --heading-color: #d9d8dc;
    --text-color: #cdd6f4;
    --link-color: #9399b2;
    --visited-color:  #89b4fa;
    --code-background-color: #40363a;
    --code-color: #d9d8dc;
    --blockquote-color: #d9d8dc;
    --link-color-nav-hover: #b4befe;
}

.art {
--tw-text-opacity: 1;
  color: #45475a;
line-height: 1;
font-size: 1px;
font-family: GeistMono, monospace;
white-space: pre;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a.title {
  text-decoration: none;
  color: inherit;
}

header > a.title {
  font-family: monospace; 
  font-size: small;
}

header > a.title:hover {
  transition: color 0.3s ease;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3em;
  transition: transform 0.5s ease;
}

header > a.title > h1 {
  margin: 0;
}

header > nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}

header > nav a,
header > nav a:visited {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  color: var(--text-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(125, 117, 126, 0.784); /* Adds a subtle shadow */
}

header > nav a:hover {
  color: var(--link-color-nav-hover);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(111, 106, 244, 0.784); /* Adds a subtle shadow */
}

header > nav a.active {
  background: var(--background-color-nav);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: auto 1 / 1;
  border-radius: var(--border-radius);
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 30px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
    background-image: linear-gradient(rgba(0,0,0,0.4) 1px, transparent 1px);
    background-size: 2px 2px;
    background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
    text-align: center;
    font-weight: 200;
}

p{
  text-align: center;
}

nav a {
    margin-right: 8px;
}

strong, b {
    color: var(--heading-color);
}

main {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px solid var(--link-color);
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
}

blockquote {
    border-left: 5px solid var(--link-color);
  	padding: 0 15px;
  	margin: 15px 0;
  	line-height: 50px;
  	font-size: 16px;
  	background-color: var(--code-background-color);
    color: var(--code-color);
}


.footer{
  padding-top: 300px;
}

.highlight, .code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

     
 footer {
  color: var(--text-color-footer);
  font-size: 10px;
  text-align: center;
  padding: 1rem 0;
} 

.socials{
gap: 10px;
}

.icon:hover{
  scale: 125%;
}

.typewriter p {
  font-size: small;
  font-weight: 500;
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .40em solid #89b4fa; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  text-wrap: nowrap;
  text-shadow: 2px 2px 4px rgba(38, 36, 82, 0.784); /* Adds a subtle shadow */
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #89b4fa; }
}

.divflex{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}